body{
    background-color: rgba(173,216,230,0.5);
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-family: "Pacifico", cursive;
}

h1{
    text-align:center;
    font-size:6vw;
}

#subheading{
    text-align:center;
    font-size:3vw;
}

#teaselect{
    position: relative;
    width: auto;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top:5vh;
    margin-left:8vw;
    margin-right:8vw;
    padding: 5px;
}

.teabag {
    position: relative;
}

.teabag > img {
    width: 100%;
    max-height: 100%;
}

.teabag > p {
    margin: 0;
    padding-left:calc(25% - 5vw);
    font-size: 12px;
}

.teabag:hover{
    transform:scale(1.1)translateZ(20px);
    cursor:pointer;
}

input{
    display:none;
}

#tea1box:checked ~ #tea-scene #teacup > #tea {
    background-color: #8B7355;
}

#tea2box:checked ~ #tea-scene #teacup > #tea {
    background-color:#E8D5A8;
}

#tea3box:checked ~ #tea-scene #teacup > #tea{
    background-color:#A8C68F;
}

#tea4box:checked ~ #tea-scene #teacup > #tea{
    background-color: #D4A574;
}

#teapotbox:checked ~ #tea-scene #teapot{
    transform:rotate(0deg);
}

@media only screen and (max-width: 500px) {
#teaselect {
    flex-direction: column;
}    
}


#tea-scene{
   position:relative;
   display:flex;
   flex-direction:column;
   margin-top:auto;
}

#teapot{
    position: relative;
    margin-left: calc(50vw - 20px);
    width: 50vw;
    overflow: hidden;
    transition: transform 0.8s ease;
    transform-origin: bottom-left;
}

#teapot >img{
    display:block;
    height:35vh;
}


#tea1box:checked ~ #tea-scene #teapot,
#tea2box:checked ~ #tea-scene #teapot,
#tea3box:checked ~ #tea-scene #teapot,
#tea4box:checked ~ #tea-scene #teapot {
    transform: rotate(-45deg);
}


#teacup {
    position:relative;
}

#teacup > img{
  display:block;
  margin-left: 25vw;
  width:50vw;
}

#tea {
    position: absolute;
    top: 4vw;
    left: 38vw;
    width: 27vw;
    height: 14.5vw;
    border-radius:50%;
    transition: background-color 3s ease-in;
}


