body{
    margin: 0;
    min-height: 200vh;
}

#frontpage {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    color:white;
    background-color:black;
    font-family: manifold-cf, sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:3vw;

}

#lumonlogo {
    width: 25vw;
    height: auto;
    position: relative;
    top: 5vw;
}

#scroll {
    position: absolute;
    bottom: 10px;
    left: calc(46vw);
}

.material-symbols-outlined {
    font-size: 8vw;
}


#page2 {
    color: red;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}