#homepage{
    margin:0;
    min-height:200vh; 
}

#frontpage {
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    z-index:3;
    background-color:black;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
span {
    display: block;
    width: 20px;
    overflow: hidden;
}

#title_box{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1vh;
}

h1{
    position:relative;
    color:white;
    margin:0;
    font-size:10vh;
    padding:0 5vw;
    font-family:"Indie Flower",cursive;
}

#title_box > p{
    color:white;
    position:relative;
    font-size:3vh;
    margin: 1vh 0 0 0;
    font-family:"Indie Flower",cursive;
    padding:0 5vw;
}

#shakespeare{
    position: relative;
    width:50vw;
    max-width:90vw;
}

#page2{
    z-index:2;
    position:fixed;
    height:100vh;
    width:100%;
    background-color:white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#page2 > p{
    font-size:4vw;
    margin:0;
    font-family:"Indie Flower",cursive;
}

#arrow{
    width:10vw;
    height:auto;
    position:relative;
    top:10vh;
}

#timelinepage{
    min-height:100vh;
    margin:0;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#timeline_wrapper{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:60vh;
    margin:0;
}

#timeline_wrapper img{
    pointer-events:auto;
}


#line{
    width:100%;
    height:auto;
    position:absolute;
    left:0;
    z-index:1;
}

#infant{
    width: 15vw;
    position: absolute;
    left:7vw;
    top: calc(50% - 16.5vw);
}

#infant_title{
    width:15.1vw;
    position:absolute;
    left:7vw;
    top:calc(50% - 16.5vw);
}

#schoolboy{
    width:15vw;
    position:absolute;
    left:17vw;
    top: calc(50% + 5vw);
}

#schoolboy_title{
    width:14.7vw;
    position:absolute;
    left:17vw;
    top: calc(50% + 5vw); 
}

#lover{
    width:15vw;
    position:absolute;
    left:30vw;
    top:calc(50% - 17vw);
}

#lover_title{
    width:15vw;
    position:absolute;
    left:30vw;
    top:calc(50% - 17vw);
}

#soldier{
    width:15vw;
    position:absolute;
    left:43vw;
    top:calc(50% + 5vw);
}

#soldier_title{
    width:15vw;
    position:absolute;
    left:43vw;
    top:calc(50% + 5vw);
}

#justice{
    width:17vw;
    position:absolute;
    left:51vw;
    top:calc(50% - 17vw);
}

#justice_title{
    width:17vw;
    position:absolute;
    left:51vw;
    top:calc(50% - 17vw);
}

#sixth{
    width:16vw;
    position:absolute;
    left:65vw;
    top:calc(50% + 5.5vw);
}

#sixth_title{
    width:16vw;
    position:absolute;
    left:65vw;
    top:calc(50% + 5.5vw);
}

#death{
    width:18vw;
    position:absolute;
    left:75vw;
    top:calc(50% - 16vw);
}

#death_title{
    width:18vw;
    position:absolute;
    left:75vw;
    top:calc(50% - 16vw);
}

.picture-container{
    cursor:pointer;
}

.picture{
    z-index:5;
}

.title{
    z-index:10;
    display:none;
}

.picture-container:hover .picture{
    opacity:0;
}

.picture-container:hover .title{
    display:flex;
}

#back{
    width:3vw;
    position:fixed;
    left:2vw;
    bottom:2vh;
    z-index:5;
}

.popup-overlay{
    display:none;
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: white;
    justify-content:center;
    align-items:center;
}

.popup-overlay.active{
    display:flex;
}

.popup-content{
    position:relative;
    max-width:90vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    z-index:101;
    background:white;
}

.close-btn{
    position:absolute;
    top:0;
    right:0;
    width:35px;
    height:35px;
    background:rgb(51,51,51);
    color:white;
    border:none;
    border-radius:50%;
    text-align:center;
    font-size:20px;
    z-index:101;
}

.video-container{
    position:relative;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items: center;
    background:white;
}

#videoFrame{
   width:100%;
   height:auto;
}