
*{
    box-sizing: border-box;
}

html{
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
}


body{
    padding:0;
    margin:0;
    position:relative;
    user-select: none;
    -webkit-user-select: none;
    overflow-x:hidden;
    min-height:100vh;
}

canvas{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1;
}

#cover{
    position:relative;
    height:100vh;
    width:100vw;
}

#line {
    width:100vw;
    height:100vh;
    z-index:3;
    position:absolute;
    opacity:0.4;
    top:0;
    left:0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

#cover > p{
    position:absolute;
    top:32vh;
    left:8vw;
    transform: rotate(15deg); 
    font-size:1em;
    user-select:none;
    font-weight:bold;
    z-index:4;
}

h1{
    user-select: none;
    -webkit-user-select: none;
}

#contentwrapper{
    position:absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index:2;
}

#art{
    position:absolute;
    font-size:5em;
    left:3%;
    top:5vh;
    margin:0;
}

#of{
   position: absolute;
   font-size:5em; 
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
   margin:0;
}

#the{
    position:absolute;
    font-size:5em;
    top:62.5%;
    left:19%;
    margin:0;
}

#webwrapper{
    position:absolute;
    top:23%;
    left: 67%;
    font-size:5em;
    margin:0;
    width: calc(16vw + 1.5em);
    height: calc(36vh + 1.5em);
}

#w{
    position:absolute;
    top:0;
    left:0;
    font-size:1.6em;
    margin:0;
}

#e{
    position:absolute;
    top:25%;
    left:35%;
    font-size:1.6em;
    margin:0;
}

#b{
    position:absolute;
    top:50%;
    left:70%;
    font-size:1.6em;
    margin:0;
}

.page{
    position:relative;
    height:100vh;
    width:100vw;
    overflow:hidden;
}

.port{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    object-fit:contain;
}

#ASCIIwrapper{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:2rem;
    top:2vh;
    left:5vw;
}

#ASCII{
    position:relative;
    height:16vh;
    width:12vw;
}

#ASCII img {
    width:100%;
    height:100%;
    overflow:hidden;
    object-fit:cover;
    display:block;
}

.page h1{
    font-size: 5vw;
    margin:0;
}

#CSSwrapper{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:2rem;
    top:28vh;
    right:0;
}

#CSS{
    height:20vh;
    width:60vw;
}

#CSS img {
    width:100%;
    height:100%;
    overflow:hidden;
    object-fit:cover;
    display:block;
    object-position: 50% 65%;
}

#Severancewrapper{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:2rem;
    top:58vh;
    left:0;
}

#Severance{
    height:20vh;
    width:40vw;
}

#Severance img {
    width:100%;
    height:100%;
    overflow:hidden;
    object-fit:cover;
    display:block;
}


#WebRingwrapper{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:2rem;
    bottom:0;
    right:5vw;
}

#WebRing{
    height:17vh;
    width:35vw;
}

#WebRing img {
    width:100%;
    height:100%;
    overflow:hidden;
    object-fit:cover;
    display:block;
}


#Teawrapper{
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;
    top:0;
    left:8vw;
}

#Tea{
    height:35vh;
    width:20vw;
}


#Tea img {
    width:100%;
    height:100%;
    overflow:hidden;
    object-fit:cover;
    display:block;
}


#clockwrapper{
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;
    top:15vh;
    right:15vw;
}

#clock{
    height:40vmin;
    width:40vmin;
    border-radius:50%;
    overflow:hidden;
}

#Clock img {
    width:100%;
    height:100%;
    object-fit:cover;
}

#Scriptedwrapper{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1rem;
    bottom:0;
    left:0;
    width:80vw;
}

#Script{
    height:40vh;
    width:60vw;
}

#Script img {
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    object-position: 50% 5%;
}


#IFTTTwrapper{
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;
    top:3vh;
    right:8vw;
}

#IFTTT{
    height:30vh;
    width:35vw;
}

#IFTTT img {
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

#Generativewrapper{
    position:absolute;
    display:flex;
    flex-direction:column;
    width:40vw;
    gap:1rem;
    bottom:0;
    left:3vw;
}

#Generative{
    height:45vh;
    width:100%;
}

#Generative img {
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}


#readingswrapper{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    position:absolute;
    bottom:5vh;
    right:5vw;
    height:auto;
    width:10vw;
    text-align:right;

}

.page > p {
    font-weight:normal;
    bottom:10vh;
    right:5vw;
    padding:0;
}

#book{
    width:50px;
    height:auto;
}